html {
	height: 100%;
	background: black
}

body {
	text-align: center;
	color: white;
	margin: auto;
	width: 75%;
	color: #000000;
	background: #CCCCCC;
	height: 100%;
	padding-top: 0.1em;
}

#headshot {
	height: 20%;
	width: 20%;
}

.link {
	color:black;
}

.link:visited {
	color:black;
}

.link:hover {
	color:#CC0000;
}

.link:active {
	color:black;
}

.icon {
	font-size: 60px;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	padding-bottom: 1em;
}

.footertext {
	line-height: 30%;
}